# Desafío tripulaciones (abr 22)
## Grupo 2. Asociación en Red
### Generamos las tablas necesarias para subir a MongoDB Compass-Atlas

In [5]:
#Importacion de librerias
import numpy as np
from faker import Factory
from faker import Faker
import random
import pandas as pd

## Tabla Categorias

Categorías y descripciones trasladadas desde UX

In [184]:
categorias = pd.DataFrame({"Categorias" : ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día","Burocracia", "Servicios del Municipio"],
                "Descripción": ["¿Necesitas asistencia con tu móvil, ordenador o televisión? Enviar un correo, hacer una videollamada, poner Netflix en la tele…","¿Quieres pedir cita médica por Internet o que alguien te acompañe?",
                "Entra aquí y conoce personas cercanas y afines a ti","¿Buscas compañía en tu rutina diaria o ayuda con las tareas cotidianas?",
                "¿No sabes cómo gestionar tu papeleo por Internet?", "Entérate y disfruta de todos los planes en tu zona"],
                "img": ["tecnologias.png", "salud.png", "amigos.png", "diaadia.png", "burocracia.png", "municipio.png"]})

categorias

,Categorias,Descripción,img
0,Nuevas Tecnologías,"¿Necesitas asistencia con tu móvil, ordenador ...",tecnologias.png
1,Salud,¿Quieres pedir cita médica por Internet o que ...,salud.png
2,Amigos y Ocio,Entra aquí y conoce personas cercanas y afines...,amigos.png
3,El día a día,¿Buscas compañía en tu rutina diaria o ayuda c...,diaadia.png
4,Burocracia,¿No sabes cómo gestionar tu papeleo por Internet?,burocracia.png
5,Servicios del Municipio,Entérate y disfruta de todos los planes en tu ...,municipio.png

In [185]:
categorias.to_csv('categorias.csv')

## Codigo Postal

Descargamos desde https://github.com/inigoflores/ds-codigos-postales-ine-es la base de datos correspondientes a los
códigos postales de España. Aplicamos las modificaciones correspondientes a caracteres no reconocidos.

In [173]:
df = pd.read_csv('listado-de-codigos-postales-de-españa.csv', sep=';', encoding='latin-1')

In [174]:
df['poblacion'] = df['poblacion'].str.replace('?', 'ñ')
df.head(30)

c:\Users\Hp\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

      provincia              poblacion  codigopostalid
0   Araba/Álava       Alegría-Dulantzi             240
1         Ávila              Candeleda             548
2   Araba/Álava        Vitoria-Gasteiz            1001
3   Araba/Álava        Vitoria-Gasteiz            1002
4   Araba/Álava        Vitoria-Gasteiz            1003
5   Araba/Álava        Vitoria-Gasteiz            1004
6   Araba/Álava        Vitoria-Gasteiz            1005
7   Araba/Álava        Vitoria-Gasteiz            1006
8   Araba/Álava        Vitoria-Gasteiz            1007
9   Araba/Álava        Vitoria-Gasteiz            1008
10  Araba/Álava        Vitoria-Gasteiz            1009
11  Araba/Álava        Vitoria-Gasteiz            1010
12  Araba/Álava        Vitoria-Gasteiz            1012
13  Araba/Álava      Labastida/Bastida            1012
14  Araba/Álava        Vitoria-Gasteiz            1013
15  Araba/Álava        Vitoria-Gasteiz            1015
16  Araba/Álava        Campezo/Kanpezu            1110
17  Araba/Álava        Campezo/Kanpezu            1117
18  Araba/Álava  Harana/Valle de Arana            1117
19       Burgos     Condado de Treviño            1118
20  Araba/Álava                Bernedo            1118
21  Araba/Álava                 Lagrán            1118
22  Araba/Álava          Arraia-Maeztu            1120
23  Araba/Álava        Campezo/Kanpezu            1128
24  Araba/Álava          Arraia-Maeztu            1128
25  Araba/Álava                Bernedo            1128
26  Araba/Álava          Arraia-Maeztu            1129
27  Araba/Álava                   Zuia            1130
28  Araba/Álava               Zigoitia            1138
29  Araba/Álava                   Zuia            1139

In [175]:
cpostal = df['codigopostalid']
cpostal

0          240
1          548
2         1001
3         1002
4         1003
         ...
14660    52004
14661    52005
14662    52006
14663    73820
14664    90007
Name: codigopostalid, Length: 14665, dtype: int64

In [176]:
# Rellenamos con ceros a la izquierda los códigos postales con menos de 5 dígitos
ci = []
for i in cpostal:
    i=str(i)
    i = i.zfill(5)
    ci.append(i)

In [177]:
cp = pd.DataFrame(ci, columns=['cp'])
df['cp'] = cp
df.drop(columns='codigopostalid', inplace=True)
df.head(30)

      provincia              poblacion     cp
0   Araba/Álava       Alegría-Dulantzi  00240
1         Ávila              Candeleda  00548
2   Araba/Álava        Vitoria-Gasteiz  01001
3   Araba/Álava        Vitoria-Gasteiz  01002
4   Araba/Álava        Vitoria-Gasteiz  01003
5   Araba/Álava        Vitoria-Gasteiz  01004
6   Araba/Álava        Vitoria-Gasteiz  01005
7   Araba/Álava        Vitoria-Gasteiz  01006
8   Araba/Álava        Vitoria-Gasteiz  01007
9   Araba/Álava        Vitoria-Gasteiz  01008
10  Araba/Álava        Vitoria-Gasteiz  01009
11  Araba/Álava        Vitoria-Gasteiz  01010
12  Araba/Álava        Vitoria-Gasteiz  01012
13  Araba/Álava      Labastida/Bastida  01012
14  Araba/Álava        Vitoria-Gasteiz  01013
15  Araba/Álava        Vitoria-Gasteiz  01015
16  Araba/Álava        Campezo/Kanpezu  01110
17  Araba/Álava        Campezo/Kanpezu  01117
18  Araba/Álava  Harana/Valle de Arana  01117
19       Burgos     Condado de Treviño  01118
20  Araba/Álava                Bernedo  01118
21  Araba/Álava                 Lagrán  01118
22  Araba/Álava          Arraia-Maeztu  01120
23  Araba/Álava        Campezo/Kanpezu  01128
24  Araba/Álava          Arraia-Maeztu  01128
25  Araba/Álava                Bernedo  01128
26  Araba/Álava          Arraia-Maeztu  01129
27  Araba/Álava                   Zuia  01130
28  Araba/Álava               Zigoitia  01138
29  Araba/Álava                   Zuia  01139

In [178]:
cp = df.to_csv('codigo_postal.csv')

## Tipos de perfiles

Creamos la tabla de perfiles con los datos trasladados desde UX

In [181]:
perfiles = pd.DataFrame({"Perfil" : ["Miembros", "Voluntarios", "Ambos", "Admin"],
                "Descripción": ["Elige esta opción si buscas a alguien que te acompañe para solucionar tus problemas.", "Elige esta opción si buscas aportar tu granito de arena a la comunidad de mayores.", "Elige esta opción si buscas las dos opciones anteriores.", "Perfil administrador"],
                "img": ["miembros.png", "voluntarios.png", "ambos.png", " "]})
perfiles.to_csv('tipos_perfil.csv')

## Tabla voluntarios (parte1)

In [583]:
voluntarios = {'Nombre':[], 'Apellidos':[]}
voluntarios

{'Nombre': [], 'Apellidos': []}

In [584]:
# Generamos nombre y apellidos ficticios con la librería faker

fake = Faker('es_ES')
fake.seed_instance(42)
for i in np.arange(0,500):
    name = fake.first_name()
    voluntarios['Nombre'].append(name)
    apellido = fake.unique.last_name()
    voluntarios['Apellidos'].append(apellido)

In [585]:
# Generamos aleatoriamente los números de teléfonos para completar este campo

tl = {'tl' : []}

for i in np.arange(0, 500):
    rand = random.randrange(600000000, 700000000)
    tl['tl'].append(rand)

tel = pd.DataFrame(tl)

In [586]:
# Elegimos un código postal aleatorio

cp = {'CP' : []}
for i in np.arange(0,500):
    rand = random.choice(df['cp'])
    cp['CP'].append(rand)

cp = pd.DataFrame(cp)

In [587]:
# Generamos contraseñas aleatorias para completar el campo pass

contr = {'pass': []}
for i in np.arange(0,500):
    rand = random.randrange(12345678, 87654321)
    contr['pass'].append(rand)

contr = pd.DataFrame(contr)

In [588]:
# Elegimos al azar los perfiles de Voluntario y Ambos

tipo_c = ['Voluntario', 'Ambos']
tipo = {'Tipo': []}
for i in np.arange(0,500):
    rand = random.choice(tipo_c)
    tipo['Tipo'].append(rand)

tipo = pd.DataFrame(tipo)

Creamos todas las combinaciones posibles de los servicios ofrecidos para introducirlas dentro de una lista.

In [589]:
servicios_c= [["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 	["Salud", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Burocracia"], 	["Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 	
["Nuevas Tecnologías", "Salud", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día"], 
["Nuevas Tecnologías", "El día a día", "Burocracia", "Servicios del Municipio"], 	
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Servicios del Municipio"],
["Salud", "Amigos y Ocio", "El día a día", "Burocracia"], ["Salud", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "El día a día", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Burocracia"],
["Salud", "Amigos y Ocio", "El día a día", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "El día a día", "Burocracia"],
["El día a día", "Burocracia", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio"],
["Salud", "El día a día", "Servicios del Municipio"], 	["Nuevas Tecnologías", "Amigos y Ocio", "Burocracia"], 
["Nuevas Tecnologías", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "Servicios del Municipio"], 
["Salud", "Amigos y Ocio", "Servicios del Municipio"], ["Nuevas Tecnologías", "Amigos y Ocio", "El día a día"], 
["Nuevas Tecnologías", "Salud", "El día a día"], ["Amigos y Ocio", "Burocracia", "Servicios del Municipio"], 
["Amigos y Ocio", "El día a día", "Servicios del Municipio"], ["Amigos y Ocio", "El día a día", "Burocracia"], 
["Nuevas Tecnologías", "El día a día", "Servicios del Municipio"],
["Nuevas Tecnologías", "El día a día", "Burocracia"], ["Salud", "Burocracia", "Servicios del Municipio"], ["Nuevas Tecnologías", "Amigos y Ocio", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud"], ["Nuevas Tecnologías", "Amigos y Ocio"],
["Nuevas Tecnologías", "El día a día"], ["Nuevas Tecnologías", "Burocracia"], 
["Nuevas Tecnologías", "Servicios del Municipio"], ["Salud", "Amigos y Ocio"], 
["Salud", "El día a día"], 	["Salud", "Burocracia"], ["Salud", "Servicios del Municipio"],
["Amigos y Ocio", "El día a día"], 	["Amigos y Ocio", "Burocracia"], 
["Amigos y Ocio", "Servicios del Municipio"], ["El día a día", "Burocracia"], 
["El día a día", "Servicios del Municipio"], ["Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías"], ["Salud"], 	["Amigos y Ocio"],
   ["El día a día"], ["Burocracia"], ["Servicios del Municipio"]]


servicios = {'Servicios disponibles': []}
for i in np.arange(0,500):
    rand = random.choice(servicios_c)
    servicios['Servicios disponibles'].append(rand)

servicios = pd.DataFrame(servicios)

In [590]:
# Creamos aleatorio el status de los voluntarios (0 = no disponible, 1 =  disponible)
s = [0, 1]
status={'Status': []}
for i in np.arange(0,500):
    rand = random.choice(s)
    status['Status'].append(rand)

status = pd.DataFrame(status)

Imagenes descargadas de figma y renombradas para utilizar aleatoriamente en las tablas de voluntarios y miembros

In [591]:
imagenes = ["hombre1.png","hombre2.png","miembroh1.png","miembroh3.png","miembrom3.png","miembrom4.png",
"mujer1.png","mujer2.png","opinion1.png","opinion2m.png","opinion3m.png","opinion4.png","opinion5m.png",
"opinion6.png"]

In [592]:
# Introducimos aleatoriamente las fotografías para cada uno de los voluntarios

img_vol = ["hombre1.png","mujer1.png", "hombre2.png","mujer2.png"]
img_v={'Foto vol': []}
for i in np.arange(0,500):
    rand = random.choice(img_vol)
    img_v['Foto vol'].append(rand)

img_v = pd.DataFrame(img_v)

Se generar mini biografías para el perfil de los voluntarios

In [767]:
bio1 = "Soy una persona muy atenta. Me gusta aportar mi granito de arena siempre que puedo. Estaría encantada de poder acompañarte en lo que necesites."
bio2 = "Me encanta sertirme útil y por eso estaría encantada de poder ayudarte."
bio3 = "Me gusta trabajar con otras personas, codo con codo, sumando fuerzas, compartiendo experiencias y aprendiendo unas de otras, creciendo juntos."
bio4 = "Soy una persona a la que le fascina conocer personas diferentes y aprender de los demas para conseguir un objetivo común."
bio5 = "Me gusta pasar mi tiempo ayudando a los demás y hacer nuevos amigos."
bio6 = "Quiero devolver a la comunidad lo que me dieron sin pedir nada a cambio."

In [594]:
bios = [bio1, bio2, bio3, bio4, bio5, bio6]
bio = {'Bio': []}
for i in np.arange(0,500):
    rand = random.choice(bios)
    bio['Bio'].append(rand)

bio = pd.DataFrame(bio)

Para generar fechas aleatorias entre rangos utilizamos la función del siguiente recurso:

https://es.stackoverflow.com/questions/418863/como-generar-una-fecha-aleatoria-entre-dos-rangos-con-random-randit-en-python

In [595]:
from random import randint
from datetime import datetime


DATE_FORMAT = '%d/%m/%Y'


def get_random_date_between(date_a, date_b):    
    datetime_object_a = datetime.strptime(date_a, DATE_FORMAT)
    datetime_object_b = datetime.strptime(date_b, DATE_FORMAT)

    random_ordinal = randint(
        datetime_object_a.toordinal(),
        datetime_object_b.toordinal(),
    )

    random_date = datetime.fromordinal(random_ordinal)
    formatted_date_string = random_date.strftime(DATE_FORMAT)

    return formatted_date_string

get_random_date_between('17/5/2019', '30/6/2022')

'23/07/2020'

In [596]:
# Generamos fechas aleatorias de registro de voluntarios

f_insc = {'Fecha inscripcion': []}
for i in np.arange(0,500):
    rand = get_random_date_between('17/5/2019', '30/6/2022')
    f_insc['Fecha inscripcion'].append(rand)

inscripcion = pd.DataFrame(f_insc)

In [597]:
# unificamos en un único DataFrame todos los campos creados anteriormente

voluntarios = pd.DataFrame(voluntarios)
voluntarios['Móvil'] = tel
voluntarios['Código Postal'] = cp
voluntarios['Pass'] = contr
voluntarios['Perfil'] = tipo
voluntarios['Servicios Disponibles'] = servicios
voluntarios['Status'] = status
voluntarios['FotoV'] = img_v
voluntarios['Bio'] = bio
voluntarios['Fecha inscripción'] = inscripcion
voluntarios.head(5)

,Nombre,Apellidos,Móvil,Código Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripción
0,Feliciana,Cantón,645488416,30710,72964310,Voluntario,[Burocracia],0,hombre2.png,Soy una persona a la que le fascina conocer pe...,26/09/2019
1,Amador,Llopis,698809787,34878,49176191,Voluntario,"[Nuevas Tecnologías, Burocracia, Servicios del...",1,mujer1.png,Soy una persona a la que le fascina conocer pe...,09/10/2020
2,Jose Ignacio,Godoy,669113204,49590,19727673,Ambos,"[El día a día, Burocracia]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,22/12/2020
3,Emilio,Calatayud,617341548,19192,16009792,Ambos,"[Nuevas Tecnologías, Servicios del Municipio]",1,hombre2.png,Soy una persona muy atenta. Me gusta aportar m...,02/11/2020
4,Inmaculada,Bonet,639126490,03292,81716677,Voluntario,[Nuevas Tecnologías],1,mujer1.png,Quiero devolver a la comunidad lo que me diero...,26/04/2020

In [598]:
# Unimos los campos Nombre y Apellidos

voluntarios.insert(2, 'Nombre y Apellidos', voluntarios[['Nombre', 'Apellidos']].apply(' '.join, axis=1))

## Miembros

Creamos la base de datos con los campos de los miembros.
Añadimos las imágenes distintas de voluntarios para esta tabla.

In [622]:
miembros = {'Nombre':[], 'Apellidos':[], 'Móvil': [], 'CP': [], 'pass': [], 'Foto miembro' : [], 'Fecha inscripción' : []}

In [623]:
img_m = ["miembroh1.png","miembroh3.png","miembrom3.png","miembrom4.png", "opinion1.png","opinion2m.png",
"opinion3m.png","opinion4.png","opinion5m.png","opinion6.png"]

In [624]:
# Generamos aleatoriamente los campos de nombre, apellidos, móvil, código postal, pass, imagen y fecha de inscripción

fake = Faker('es_ES')
fake.seed_instance(100)
for i in np.arange(0,1000):
    name = fake.first_name()
    miembros['Nombre'].append(name)
    apellido = fake.unique.last_name()
    miembros['Apellidos'].append(apellido)
    rand = random.randrange(600000000, 700000000)
    miembros['Móvil'].append(rand)
    postal = random.choice(df['cp'])
    miembros['CP'].append(postal)
    cont = random.randrange(12345678, 87654321)
    miembros['pass'].append(cont)
    img = random.choice(img_m)
    miembros['Foto miembro'].append(img)
    fecha = get_random_date_between('17/5/2019', '30/6/2022')
    miembros['Fecha inscripción'].append(fecha)

miembros = pd.DataFrame(miembros)
miembros.head(30)

,Nombre,Apellidos,Móvil,CP,pass,Foto miembro,Fecha inscripción
0,Esteban,Segura,653653740,25555,81379375,opinion4.png,06/11/2020
1,Wálter,Díaz,690661206,33828,49117517,opinion1.png,01/10/2020
2,Julieta,Pozo,650363832,33507,47634880,opinion6.png,03/03/2020
3,Lupita,Olmo,632807300,27275,35495838,opinion4.png,27/07/2021
4,Toribio,Vendrell,647713530,33778,53626078,opinion3m.png,21/07/2021
5,Nereida,Canet,609986698,50344,71456783,opinion3m.png,27/02/2022
6,Berta,Carrión,646154077,11595,57470462,opinion6.png,07/12/2019
7,Cecilio,Sarmiento,665647082,22410,57293032,opinion5m.png,31/05/2021
8,Juan José,Asensio,613166532,16442,53086459,miembrom4.png,26/05/2021
9,Genoveva,Fuente,665615050,17455,59957580,miembrom4.png,11/11/2020
10,Nico,Gras,686951173,30593,58384827,opinion5m.png,06/08/2020
11,Martin,Frías,661611432,34249,57401268,opinion2m.png,03/11/2020
12,Gaspar,Chico,677545348,09620,20757640,opinion2m.png,23/04/2020
13,Gonzalo,Oliver,659829962,37619,60106900,opinion6.png,07/01/2022
14,Rafael,Redondo,659385484,40340,28016581,miembrom3.png,17/06/2022
15,Perlita,Galvez,699809365,04279,13182652,opinion5m.png,31/08/2019
16,Samuel,Serra,699080411,42296,68980556,miembrom3.png,18/01/2022
17,Catalina,Llorens,602404211,37711,34748186,miembrom3.png,08/10/2019
18,Valentina,Perez,632119502,38690,68368908,opinion4.png,17/05/2019
19,Felipe,Casanova,656503032,31639,77686612,opinion6.png,27/01/2021
20,Geraldo,Adán,676971796,01212,28374346,miembrom3.png,27/10/2020
21,Elisa,Priego,685039987,23001,79876390,opinion3m.png,12/09/2021
22,Eusebio,Cámara,666099491,08513,33010589,miembroh1.png,03/03/2021
23,Guadalupe,Diego,688097669,36428,45823588,opinion2m.png,09/08/2021
24,Prudencia,Amo,613140734,32810,61521866,opinion2m.png,02/10/2021
25,Xiomara,Gálvez,668701340,08348,58395479,opinion4.png,11/08/2019
26,Victorino,Ponce,624951637,38830,77325701,opinion4.png,06/11/2019
27,Edmundo,Badía,671567748,33171,71449307,miembrom4.png,15/04/2022
28,Emelina,Huertas,641496674,09441,25402738,opinion1.png,24/01/2020
29,Liliana,Manjón,600046671,06196,57885168,opinion6.png,08/01/2020

In [626]:
# Unificamos la columna Nombre y Apellidos

miembros.insert(2, 'Nombre y Apellidos', miembros[['Nombre', 'Apellidos']].apply(' '.join, axis=1))

In [631]:
# Filtramos los usuarios con perfil "Ambos" de la tabla de voluntarios para poder añadirlos a la tabla de Miembros

masm = voluntarios[voluntarios['Perfil'] == 'Ambos']
masm

,Nombre,Apellidos,Nombre y Apellidos,Móvil,Código Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripción
2,Jose Ignacio,Godoy,Jose Ignacio Godoy,669113204,49590,19727673,Ambos,"[El día a día, Burocracia]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,22/12/2020
3,Emilio,Calatayud,Emilio Calatayud,617341548,19192,16009792,Ambos,"[Nuevas Tecnologías, Servicios del Municipio]",1,hombre2.png,Soy una persona muy atenta. Me gusta aportar m...,02/11/2020
5,Dominga,Roca,Dominga Roca,660102036,15165,53362792,Ambos,"[Salud, El día a día, Servicios del Municipio]",1,mujer1.png,Me gusta pasar mi tiempo ayudando a los demás ...,27/03/2020
6,Amílcar,Andrés,Amílcar Andrés,616197876,24235,53145749,Ambos,"[Salud, Amigos y Ocio, El día a día, Servicios...",1,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,12/10/2021
8,Joan,Vazquez,Joan Vazquez,623277038,50139,55135800,Ambos,"[El día a día, Burocracia]",1,hombre2.png,Me gusta pasar mi tiempo ayudando a los demás ...,28/11/2021
...,...,...,...,...,...,...,...,...,...,...,...,...
490,Felicia,Izquierdo,Felicia Izquierdo,699794047,37870,71698599,Ambos,"[Amigos y Ocio, El día a día, Burocracia, Serv...",1,hombre2.png,Quiero devolver a la comunidad lo que me diero...,27/12/2021
492,Griselda,Sola,Griselda Sola,632823608,35149,86421659,Ambos,"[Nuevas Tecnologías, Salud, Amigos y Ocio, Ser...",1,hombre1.png,Me gusta pasar mi tiempo ayudando a los demás ...,19/01/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,630160128,16537,87537453,Ambos,"[Amigos y Ocio, Burocracia]",1,mujer2.png,Me encanta sertirme útil y por eso estaría enc...,31/05/2022
497,Jenny,Matas,Jenny Matas,606712942,15916,54213288,Ambos,"[Nuevas Tecnologías, El día a día, Burocracia]",0,mujer1.png,Me encanta sertirme útil y por eso estaría enc...,20/04/2022
498,Heliodoro,Planas,Heliodoro Planas,607122104,32340,36976876,Ambos,"[Amigos y Ocio, El día a día, Burocracia]",0,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,04/09/2021

In [632]:
# Del filtro realizado, eliminamos las columnas que no corresponden a la categoría "Miembro"
miembro = masm.drop(columns=['Perfil', 'Servicios Disponibles', 'Status', 'Bio'])
miembro

,Nombre,Apellidos,Nombre y Apellidos,Móvil,Código Postal,Pass,FotoV,Fecha inscripción
2,Jose Ignacio,Godoy,Jose Ignacio Godoy,669113204,49590,19727673,hombre1.png,22/12/2020
3,Emilio,Calatayud,Emilio Calatayud,617341548,19192,16009792,hombre2.png,02/11/2020
5,Dominga,Roca,Dominga Roca,660102036,15165,53362792,mujer1.png,27/03/2020
6,Amílcar,Andrés,Amílcar Andrés,616197876,24235,53145749,mujer2.png,12/10/2021
8,Joan,Vazquez,Joan Vazquez,623277038,50139,55135800,hombre2.png,28/11/2021
...,...,...,...,...,...,...,...,...
490,Felicia,Izquierdo,Felicia Izquierdo,699794047,37870,71698599,hombre2.png,27/12/2021
492,Griselda,Sola,Griselda Sola,632823608,35149,86421659,hombre1.png,19/01/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,630160128,16537,87537453,mujer2.png,31/05/2022
497,Jenny,Matas,Jenny Matas,606712942,15916,54213288,mujer1.png,20/04/2022
498,Heliodoro,Planas,Heliodoro Planas,607122104,32340,36976876,mujer2.png,04/09/2021

In [635]:
# Renombramos las columnas para que correspondan a las mismas que la tabla Miembros

miembro.columns= ['Nombre', 'Apellidos', 'Nombre y Apellidos', 'Móvil', 'CP', 'pass',
       'Foto miembro', 'Fecha inscripción']
miembro

,Nombre,Apellidos,Nombre y Apellidos,Móvil,CP,pass,Foto miembro,Fecha inscripción
2,Jose Ignacio,Godoy,Jose Ignacio Godoy,669113204,49590,19727673,hombre1.png,22/12/2020
3,Emilio,Calatayud,Emilio Calatayud,617341548,19192,16009792,hombre2.png,02/11/2020
5,Dominga,Roca,Dominga Roca,660102036,15165,53362792,mujer1.png,27/03/2020
6,Amílcar,Andrés,Amílcar Andrés,616197876,24235,53145749,mujer2.png,12/10/2021
8,Joan,Vazquez,Joan Vazquez,623277038,50139,55135800,hombre2.png,28/11/2021
...,...,...,...,...,...,...,...,...
490,Felicia,Izquierdo,Felicia Izquierdo,699794047,37870,71698599,hombre2.png,27/12/2021
492,Griselda,Sola,Griselda Sola,632823608,35149,86421659,hombre1.png,19/01/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,630160128,16537,87537453,mujer2.png,31/05/2022
497,Jenny,Matas,Jenny Matas,606712942,15916,54213288,mujer1.png,20/04/2022
498,Heliodoro,Planas,Heliodoro Planas,607122104,32340,36976876,mujer2.png,04/09/2021

In [636]:
# Apilamos la nueva tabla filtrada desde voluntarios a la ya existente de Miembros

miembrosf = pd.concat([miembros, miembro], axis=0)
miembrosf.reset_index(inplace=True)
miembrosf.drop(columns=['index'],inplace=True)
miembrosf

,Nombre,Apellidos,Nombre y Apellidos,Móvil,CP,pass,Foto miembro,Fecha inscripción
0,Esteban,Segura,Esteban Segura,653653740,25555,81379375,opinion4.png,06/11/2020
1,Wálter,Díaz,Wálter Díaz,690661206,33828,49117517,opinion1.png,01/10/2020
2,Julieta,Pozo,Julieta Pozo,650363832,33507,47634880,opinion6.png,03/03/2020
3,Lupita,Olmo,Lupita Olmo,632807300,27275,35495838,opinion4.png,27/07/2021
4,Toribio,Vendrell,Toribio Vendrell,647713530,33778,53626078,opinion3m.png,21/07/2021
...,...,...,...,...,...,...,...,...
1232,Felicia,Izquierdo,Felicia Izquierdo,699794047,37870,71698599,hombre2.png,27/12/2021
1233,Griselda,Sola,Griselda Sola,632823608,35149,86421659,hombre1.png,19/01/2021
1234,Feliciana,Rodrigo,Feliciana Rodrigo,630160128,16537,87537453,mujer2.png,31/05/2022
1235,Jenny,Matas,Jenny Matas,606712942,15916,54213288,mujer1.png,20/04/2022
1236,Heliodoro,Planas,Heliodoro Planas,607122104,32340,36976876,mujer2.png,04/09/2021

In [637]:
miembrosf.to_csv('miembros.csv')

## Opiniones

Para realizar la tabla de opiniones se necesita a los voluntarios con sus áreas, además de los miembros que han realizado dicha reseña, puntuación y la reseña.

In [638]:
# Nos quedamos con los voluntarios y sus áreas de actuación

opiniones = voluntarios.iloc[:,2:8:5]
opiniones

     Nombre y Apellidos                              Servicios Disponibles
0      Feliciana Cantón                                       [Burocracia]
1         Amador Llopis  [Nuevas Tecnologías, Burocracia, Servicios del...
2    Jose Ignacio Godoy                         [El día a día, Burocracia]
3      Emilio Calatayud      [Nuevas Tecnologías, Servicios del Municipio]
4      Inmaculada Bonet                               [Nuevas Tecnologías]
..                  ...                                                ...
495      Diana Martínez           [Amigos y Ocio, Servicios del Municipio]
496   Feliciana Rodrigo                        [Amigos y Ocio, Burocracia]
497         Jenny Matas     [Nuevas Tecnologías, El día a día, Burocracia]
498    Heliodoro Planas          [Amigos y Ocio, El día a día, Burocracia]
499         Reyna Tomas  [Salud, Amigos y Ocio, El día a día, Burocraci...

[500 rows x 2 columns]

In [639]:
# Para generar más opiniones, cogemos un rango intermedio de la tabla anterior para apilarla.

res2 = opiniones.iloc[125:340, :2]
res2.reset_index(inplace=True)
res2.drop(columns=['index'],inplace=True)
res2

    Nombre y Apellidos                              Servicios Disponibles
0     Jose Ramón Feliu  [Nuevas Tecnologías, Salud, Amigos y Ocio, Bur...
1        Goyo Sanabria  [Nuevas Tecnologías, Salud, El día a día, Buro...
2      Enrique Español  [Amigos y Ocio, El día a día, Servicios del Mu...
3       León Sevillano  [Nuevas Tecnologías, Amigos y Ocio, Servicios ...
4          Josep Benet  [Nuevas Tecnologías, Salud, El día a día, Serv...
..                 ...                                                ...
210      Gabriel Vélez                [Nuevas Tecnologías, Amigos y Ocio]
211       Florina León  [Nuevas Tecnologías, Salud, El día a día, Buro...
212  Encarnación Tomás  [Salud, Amigos y Ocio, El día a día, Burocraci...
213        Adela Ruano       [Salud, Burocracia, Servicios del Municipio]
214      Paola Ledesma  [Nuevas Tecnologías, Amigos y Ocio, El día a d...

[215 rows x 2 columns]

In [640]:
# Unificamos las dos tablas

resenas = pd.concat([opiniones, res2], axis=0)
resenas.reset_index(inplace=True)
resenas.drop(columns=['index'],inplace=True)
resenas

     Nombre y Apellidos                              Servicios Disponibles
0      Feliciana Cantón                                       [Burocracia]
1         Amador Llopis  [Nuevas Tecnologías, Burocracia, Servicios del...
2    Jose Ignacio Godoy                         [El día a día, Burocracia]
3      Emilio Calatayud      [Nuevas Tecnologías, Servicios del Municipio]
4      Inmaculada Bonet                               [Nuevas Tecnologías]
..                  ...                                                ...
710       Gabriel Vélez                [Nuevas Tecnologías, Amigos y Ocio]
711        Florina León  [Nuevas Tecnologías, Salud, El día a día, Buro...
712   Encarnación Tomás  [Salud, Amigos y Ocio, El día a día, Burocraci...
713         Adela Ruano       [Salud, Burocracia, Servicios del Municipio]
714       Paola Ledesma  [Nuevas Tecnologías, Amigos y Ocio, El día a d...

[715 rows x 2 columns]

In [642]:
# Aleatoriamente asignamos una calificación a cada uno de los registros creados

estrellas = [1,2,3,4,5]
resena = {'Estrellas':[]}

for i in np.arange(0,715):
    clas = random.choice(estrellas)
    resena['Estrellas'].append(clas)

resena = pd.DataFrame(resena)
resenas['Estrellas'] = resena
resenas.head()

,Nombre y Apellidos,Servicios Disponibles,Estrellas
0,Feliciana Cantón,[Burocracia],1
1,Amador Llopis,"[Nuevas Tecnologías, Burocracia, Servicios del...",3
2,Jose Ignacio Godoy,"[El día a día, Burocracia]",5
3,Emilio Calatayud,"[Nuevas Tecnologías, Servicios del Municipio]",3
4,Inmaculada Bonet,[Nuevas Tecnologías],1

Creamos distintos textos de opiniones para asignar en función de la puntuación registrada

In [643]:
op1 = ["Al final tuvo que irse antes", "El día podría haber estado mejor", "Llegó tarde", "No es muy habladora",
"No habla mucho", "No me arregló los papeles", "No me ayudó nada", "No me entendía", "No me pudo acompañar donde yo quería",
"No pudo ayudarme", "No sabía lo que le pedía", "Tuvo muy poca paciencia"]
op2 = ["Bueno, podría mejorar", "El servicio no estuvo mal", "Es amable aunque no divertida",
"Está normal", "Ha llegado tarde", "No ha ido mal", "No ha podido ayudarme en lo que necesitaba", 
"No sabía lo que le pedía", "No terminó de ayudarme", "Puede mejorar"]
op3 = ["Bien", "Es muy amable", "Estoy contenta", "Gracias", "Gran dia", "Ha estado bien", "Ha estado muy bien",
"Ha podido ayudarme en algunas cosas", "Me acompañó en lo que necesitaba", "Me ayudó en lo que necesitaba",
"Me ayudó mucho en casa", "Me ha ayudado en lo que le he pedido", "Me ha ayudado mucho", "Me ha resuelto muchas dudas",
"Me lo he pasado bien", "No hemos terminado de congeniar pero ha estado bien", "Un día agradable"]
op4 = ["Es un encanto y me ayudó a hablar con mis nietos", "Es un sol, me ayudó a desbloquear el móvil y lo arregló",
"Fue un día estupendo", "No hubiera podido está más feliz", "No puedo estar más agradecida"]
op5 = ["Encantado con toda la ayuda que he recibido", "Es un encanto y me ayudó a hablar con mis nietos",
"Es un sol, me ayudó a desbloquear el móvil y lo arregló", "Fue un día estupendo", "Gracias, ha sido toda una experiencia",
"Me ayudó mucho en casa", "No hubiera podido estar más feliz", "No puedo estar más agradecida",
"Qué bien que pudo ayudarme con mis papeles", "Sin duda seguiré utilizando este servicio"]

In [644]:
# En función de la puntuación asignada se elige un comentario aleatorio de los posibles.

op = {'Opinión' : []}
for i in np.arange(0, 715):
    if resenas['Estrellas'][i] == 1:
        op_1 = random.choice(op1)
        op['Opinión'].append(op_1)
    elif resenas['Estrellas'][i] == 2:
        op_2 = random.choice(op2)
        op['Opinión'].append(op_2)
    elif resenas['Estrellas'][i] == 3:
        op_3 = random.choice(op3)
        op['Opinión'].append(op_3)
    elif resenas['Estrellas'][i] == 4:
        op_4 = random.choice(op4)
        op['Opinión'].append(op_4)
    elif resenas['Estrellas'][i] == 5:
        op_5 = random.choice(op5)
        op['Opinión'].append(op_5)

opi = pd.DataFrame(op)
resenas['Opinión'] = opi
resenas.head()

,Nombre y Apellidos,Servicios Disponibles,Estrellas,Opinión
0,Feliciana Cantón,[Burocracia],1,No es muy habladora
1,Amador Llopis,"[Nuevas Tecnologías, Burocracia, Servicios del...",3,Me ayudó mucho en casa
2,Jose Ignacio Godoy,"[El día a día, Burocracia]",5,Sin duda seguiré utilizando este servicio
3,Emilio Calatayud,"[Nuevas Tecnologías, Servicios del Municipio]",3,Bien
4,Inmaculada Bonet,[Nuevas Tecnologías],1,No habla mucho

In [647]:
# De la tabla de miembros final elegimos un rango intermedio que añadiremos al Dataframe de reseñas

miemb = miembrosf.iloc[303:1018,2::4]
miemb.reset_index(inplace=True)
miemb.drop(columns=['index'], inplace=True)
miemb

       Nombre y Apellidos   Foto miembro
0              Morena Pol  opinion5m.png
1             Chelo Rojas  miembroh1.png
2              Alma Luque  miembroh1.png
3         Ascensión Anaya  miembrom4.png
4           Leire Quiroga  miembrom4.png
..                    ...            ...
710           Paula Pardo    hombre2.png
711  Crescencia Fernandez     mujer1.png
712           Julie Baños     mujer1.png
713          Artemio Goñi     mujer1.png
714        Fabiola Patiño     mujer2.png

[715 rows x 2 columns]

In [680]:
opinions = pd.concat([resenas, miemb], axis=1, ignore_index=True)
opinions.columns = ['Nombre y Apellidos', 'Áreas', 'Estrellas', 'Opinion', 'Nombre_miembro', 'Foto miembro']
opinions

,Nombre y Apellidos,Áreas,Estrellas,Opinion,Nombre_miembro,Foto miembro
0,Feliciana Cantón,[Burocracia],1,No es muy habladora,Morena Pol,opinion5m.png
1,Amador Llopis,"[Nuevas Tecnologías, Burocracia, Servicios del...",3,Me ayudó mucho en casa,Chelo Rojas,miembroh1.png
2,Jose Ignacio Godoy,"[El día a día, Burocracia]",5,Sin duda seguiré utilizando este servicio,Alma Luque,miembroh1.png
3,Emilio Calatayud,"[Nuevas Tecnologías, Servicios del Municipio]",3,Bien,Ascensión Anaya,miembrom4.png
4,Inmaculada Bonet,[Nuevas Tecnologías],1,No habla mucho,Leire Quiroga,miembrom4.png
...,...,...,...,...,...,...
710,Gabriel Vélez,"[Nuevas Tecnologías, Amigos y Ocio]",4,No puedo estar más agradecida,Paula Pardo,hombre2.png
711,Florina León,"[Nuevas Tecnologías, Salud, El día a día, Buro...",4,No puedo estar más agradecida,Crescencia Fernandez,mujer1.png
712,Encarnación Tomás,"[Salud, Amigos y Ocio, El día a día, Burocraci...",3,Me ha ayudado mucho,Julie Baños,mujer1.png
713,Adela Ruano,"[Salud, Burocracia, Servicios del Municipio]",5,Encantado con toda la ayuda que he recibido,Artemio Goñi,mujer1.png
714,Paola Ledesma,"[Nuevas Tecnologías, Amigos y Ocio, El día a d...",4,Es un encanto y me ayudó a hablar con mis nietos,Fabiola Patiño,mujer2.png

In [681]:
opinions.to_csv('opiniones.csv')

## Voluntarios (parte2)

En la tabla de voluntarios añadiremos una columna con la media de las puntuaciones indicadas en la tabla de opiniones
y otra columna con el número de opiniones de cada uno de los voluntarios

In [707]:
star = pd.Series(opinions.groupby(['Nombre y Apellidos']).Estrellas.mean().round(1), name='Estrellas')
count = pd.Series(opinions.groupby(['Nombre y Apellidos']).Opinion.count(), name='N_opinion')
df3 = pd.DataFrame([star, count])

In [708]:
df3 = df3.T
df3.reset_index(inplace=True)

df3

    Nombre y Apellidos  Estrellas  N_opinion
0         Abril Ibañez        4.0        2.0
1           Adela Jaén        2.5        2.0
2          Adela Ruano        3.5        2.0
3      Adela Salamanca        2.5        2.0
4         Adelina Vall        3.0        1.0
..                 ...        ...        ...
495       Ángeles Sanz        2.5        2.0
496      Áurea Maestre        5.0        1.0
497       Íñigo Carpio        4.0        1.0
498    Úrsula Belmonte        4.0        2.0
499       Úrsula Perez        3.0        2.0

[500 rows x 3 columns]

In [709]:
df3['N_opinion'] = df3['N_opinion'].astype('int64', errors='ignore')

In [711]:
# Unimos la tabla generada con la media de las puntuaciones y el número de opiniones a la tabla de voluntarios

voluntariosf= pd.merge(left= voluntarios, right= df3, how = 'outer', left_on=voluntarios['Nombre y Apellidos'], 
                        right_on=df3['Nombre y Apellidos'])

voluntariosf

,key_0,Nombre,Apellidos,Nombre y Apellidos_x,Móvil,Código Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripción,Nombre y Apellidos_y,Estrellas,N_opinion
0,Feliciana Cantón,Feliciana,Cantón,Feliciana Cantón,645488416,30710,72964310,Voluntario,[Burocracia],0,hombre2.png,Soy una persona a la que le fascina conocer pe...,26/09/2019,Feliciana Cantón,1.0,1
1,Amador Llopis,Amador,Llopis,Amador Llopis,698809787,34878,49176191,Voluntario,"[Nuevas Tecnologías, Burocracia, Servicios del...",1,mujer1.png,Soy una persona a la que le fascina conocer pe...,09/10/2020,Amador Llopis,3.0,1
2,Jose Ignacio Godoy,Jose Ignacio,Godoy,Jose Ignacio Godoy,669113204,49590,19727673,Ambos,"[El día a día, Burocracia]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,22/12/2020,Jose Ignacio Godoy,5.0,1
3,Emilio Calatayud,Emilio,Calatayud,Emilio Calatayud,617341548,19192,16009792,Ambos,"[Nuevas Tecnologías, Servicios del Municipio]",1,hombre2.png,Soy una persona muy atenta. Me gusta aportar m...,02/11/2020,Emilio Calatayud,3.0,1
4,Inmaculada Bonet,Inmaculada,Bonet,Inmaculada Bonet,639126490,03292,81716677,Voluntario,[Nuevas Tecnologías],1,mujer1.png,Quiero devolver a la comunidad lo que me diero...,26/04/2020,Inmaculada Bonet,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Diana Martínez,Diana,Martínez,Diana Martínez,674457497,14480,79832254,Voluntario,"[Amigos y Ocio, Servicios del Municipio]",0,hombre2.png,"Me gusta trabajar con otras personas, codo con...",21/05/2021,Diana Martínez,4.0,1
496,Feliciana Rodrigo,Feliciana,Rodrigo,Feliciana Rodrigo,630160128,16537,87537453,Ambos,"[Amigos y Ocio, Burocracia]",1,mujer2.png,Me encanta sertirme útil y por eso estaría enc...,31/05/2022,Feliciana Rodrigo,4.0,1
497,Jenny Matas,Jenny,Matas,Jenny Matas,606712942,15916,54213288,Ambos,"[Nuevas Tecnologías, El día a día, Burocracia]",0,mujer1.png,Me encanta sertirme útil y por eso estaría enc...,20/04/2022,Jenny Matas,4.0,1
498,Heliodoro Planas,Heliodoro,Planas,Heliodoro Planas,607122104,32340,36976876,Ambos,"[Amigos y Ocio, El día a día, Burocracia]",0,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,04/09/2021,Heliodoro Planas,3.0,1
499,Reyna Tomas,Reyna,Tomas,Reyna Tomas,644785392,22196,39394320,Voluntario,"[Salud, Amigos y Ocio, El día a día, Burocraci...",1,mujer2.png,Quiero devolver a la comunidad lo que me diero...,04/01/2022,Reyna Tomas,2.0,1

In [713]:
# Eliminamos las columnas que se han creado automáticamente con la unión de los dataframes

voluntariosf.drop(columns=["key_0", "Nombre y Apellidos_y"], inplace=True)
voluntariosf.head()

,Nombre,Apellidos,Nombre y Apellidos_x,Móvil,Código Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripción,Estrellas,N_opinion
0,Feliciana,Cantón,Feliciana Cantón,645488416,30710,72964310,Voluntario,[Burocracia],0,hombre2.png,Soy una persona a la que le fascina conocer pe...,26/09/2019,1.0,1
1,Amador,Llopis,Amador Llopis,698809787,34878,49176191,Voluntario,"[Nuevas Tecnologías, Burocracia, Servicios del...",1,mujer1.png,Soy una persona a la que le fascina conocer pe...,09/10/2020,3.0,1
2,Jose Ignacio,Godoy,Jose Ignacio Godoy,669113204,49590,19727673,Ambos,"[El día a día, Burocracia]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,22/12/2020,5.0,1
3,Emilio,Calatayud,Emilio Calatayud,617341548,19192,16009792,Ambos,"[Nuevas Tecnologías, Servicios del Municipio]",1,hombre2.png,Soy una persona muy atenta. Me gusta aportar m...,02/11/2020,3.0,1
4,Inmaculada,Bonet,Inmaculada Bonet,639126490,03292,81716677,Voluntario,[Nuevas Tecnologías],1,mujer1.png,Quiero devolver a la comunidad lo que me diero...,26/04/2020,1.0,1

In [714]:
# Renombramos las columnas necesarias

voluntariosf.columns = ['Nombre', 'Apellidos', 'Nombre y Apellidos', 'Móvil', 'Código Postal',
       'Pass', 'Perfil', 'Servicios Disponibles', 'Status', 'FotoV', 'Bio',
       'Fecha inscripción', 'Estrellas', 'N_opinion']

In [715]:
voluntariosf.to_csv('voluntarios.csv')

## Peticiones

La tabla de peticiones va a contener el asunto de las solicitudes generadas por los usuarios y el texto completo.
Además, se va a incluir el número de kms y una fecha de creación de solicitud aleatoriamente.

Creamos los asuntos y textos a partir de lo trasladado por el área de UX.

In [739]:
p1 = 'Me gustaría saber mandar un correo'
p2 = 'Llamar a mis nietos por el ordenador'
p3 = 'Quiero poner música en mi móvil'
p4 = 'Que no se pone el banco en el teléfono'
p5 = 'Quiero poner dibujos en el chat como mi vecina'
p6 = 'No sé qué móvil comprarme'



t1 = 'El otro día recibí un mensaje y no sé cómo responderlo por ordenador'
t2 = 'Quiero ver a mis nietos por el ordenador'
t3 = 'Me gusta un grupo de música nuevo y quiero tenerlo en el móvil'
t4 = 'Quiero consultar mi cuenta del banco por el móvil'
t5 = 'He visto que mi vecina está poniendo muñecos en el chat y también quiero'
t6 = 'Se me ha roto el móvil y quiero saber cuál comprarme'

peticiones= {p1:t1, p2:t2, p3:t3, p4:t4, p5:t5, p6:t6}

In [725]:
# Para crear esta tabla utilizamos un rago intermedio de la tabla de miembros.

peticionarios = miembros.iloc[171:211, 2:7:4]
peticionarios.reset_index(inplace=True)
peticionarios.drop(columns=['index'], inplace=True)
peticionarios

       Nombre y Apellidos   Foto miembro
0           Adrián Blanco  miembroh1.png
1       Anastasia Barrera  opinion5m.png
2         Teodoro Pizarro  miembrom4.png
3         Fabián Ferreras   opinion1.png
4       Tristán Escribano  miembrom3.png
5      Hernando Larrañaga  opinion5m.png
6      José Luis Gelabert  miembroh3.png
7             Lázaro Páez   opinion1.png
8             Valeria Pou  opinion5m.png
9    Juan Bautista Múgica   opinion1.png
10           Amaro Larrea  miembroh3.png
11  Jose Angel Echeverría  miembroh3.png
12       Baldomero Ricart   opinion4.png
13         Ciro Carretero  opinion5m.png
14     Fortunato Pellicer  opinion3m.png
15          Iker Villegas  miembroh1.png
16      Jorge Quintanilla   opinion6.png
17          Alfredo Soler   opinion6.png
18             Pili Navas   opinion6.png
19           Aníbal Landa   opinion4.png
20       Andrea Benavente   opinion4.png
21          Pelayo Arnaiz  opinion3m.png
22         Gabriela Jordá  miembroh3.png
23             Maura Seco   opinion4.png
24             Coral Malo  opinion2m.png
25           Bibiana Puga   opinion4.png
26       Prudencio Morata   opinion4.png
27           Fausto Cases  miembroh1.png
28           Malena Nieto  opinion3m.png
29             Ana Pulido   opinion4.png
30         Esmeralda Real   opinion6.png
31     Jose Manuel Valera   opinion4.png
32     Marcela Cabanillas  opinion5m.png
33        Bernarda Galván  opinion2m.png
34        Gabriel Benítez  miembrom4.png
35     Jose Luis Berrocal  miembrom4.png
36           Alejo Losada  opinion5m.png
37         Perlita Tolosa  miembrom3.png
38        Isidoro Naranjo   opinion1.png
39          Santos Arroyo  miembroh1.png

In [752]:
# Generamos aleatoriamente el asunto y el texto del mismo.

asunto = {'Asunto': [], 'Texto': []}

for i in np.arange(0,40):
    pt = random.choice(list(peticiones.items()))
    asunto['Asunto'].append(pt[0])
    asunto['Texto'].append(pt[1])

asunto = pd.DataFrame(asunto)

asunto.head()

,Asunto,Texto
0,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
1,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...
2,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...
3,Me gustaría saber mandar un correo,El otro día recibí un mensaje y no sé cómo res...
4,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...

In [756]:
# Unimos esta nueva tabla a la principal

solicitudes = pd.concat([peticionarios, asunto], axis=1)
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto
0,Adrián Blanco,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
1,Anastasia Barrera,opinion5m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...
2,Teodoro Pizarro,miembrom4.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...
3,Fabián Ferreras,opinion1.png,Me gustaría saber mandar un correo,El otro día recibí un mensaje y no sé cómo res...
4,Tristán Escribano,miembrom3.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...

In [757]:
# Generamos el rango de fechas aleatorio

creacion = {'Fecha creacion': []}

for i in np.arange(0,40):
    fech = get_random_date_between('17/6/2022', '30/7/2022')
    creacion['Fecha creacion'].append(fech)

creacion = pd.DataFrame(creacion)
solicitudes['Fecha creacion'] = creacion
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto,Fecha creacion
0,Adrián Blanco,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,06/07/2022
1,Anastasia Barrera,opinion5m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...,22/07/2022
2,Teodoro Pizarro,miembrom4.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...,02/07/2022
3,Fabián Ferreras,opinion1.png,Me gustaría saber mandar un correo,El otro día recibí un mensaje y no sé cómo res...,25/06/2022
4,Tristán Escribano,miembrom3.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,07/07/2022

In [765]:
# Elegimos el rango de kms de forma aleatoria

kms = {'Kms': []}

for i in np.arange(0,40):
    km = random.randrange(5, 40)
    kms['Kms'].append(str(km)+'km')

kms = pd.DataFrame(kms)
solicitudes['Kms'] = kms
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto,Fecha creacion,Kms
0,Adrián Blanco,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,06/07/2022,25km
1,Anastasia Barrera,opinion5m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...,22/07/2022,14km
2,Teodoro Pizarro,miembrom4.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...,02/07/2022,38km
3,Fabián Ferreras,opinion1.png,Me gustaría saber mandar un correo,El otro día recibí un mensaje y no sé cómo res...,25/06/2022,27km
4,Tristán Escribano,miembrom3.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,07/07/2022,27km

In [766]:
solicitudes.to_csv('solicitudes.csv')