# Desafío tripulaciones (abr 22)
## Grupo 2. Asociación en Red
### Generamos las tablas necesarias para subir a MongoDB Compass-Atlas

In [1]:
#Importacion de librerias
import numpy as np
from faker import Factory
from faker import Faker
import random
import pandas as pd

## Tabla Categorias

Categorías y descripciones trasladadas desde UX

In [2]:
categorias = pd.DataFrame({"Categorias" : ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día","Burocracia", "Servicios del Municipio"],
                "Descripcion": ["¿Necesitas asistencia con tu móvil, ordenador o televisión? Enviar un correo, hacer una videollamada, poner Netflix en la tele…","¿Quieres pedir cita médica por Internet o que alguien te acompañe?",
                "Entra aquí y conoce personas cercanas y afines a ti","¿Buscas compañía en tu rutina diaria o ayuda con las tareas cotidianas?",
                "¿No sabes cómo gestionar tu papeleo por Internet?", "Entérate y disfruta de todos los planes en tu zona"],
                "img": ["tecnologias.png", "salud.png", "amigos.png", "diaadia.png", "burocracia.png", "municipio.png"]})

categorias

,Categorias,Descripcion,img
0,Nuevas Tecnologías,"¿Necesitas asistencia con tu móvil, ordenador ...",tecnologias.png
1,Salud,¿Quieres pedir cita médica por Internet o que ...,salud.png
2,Amigos y Ocio,Entra aquí y conoce personas cercanas y afines...,amigos.png
3,El día a día,¿Buscas compañía en tu rutina diaria o ayuda c...,diaadia.png
4,Burocracia,¿No sabes cómo gestionar tu papeleo por Internet?,burocracia.png
5,Servicios del Municipio,Entérate y disfruta de todos los planes en tu ...,municipio.png

In [3]:
categorias.to_csv('categorias.csv')

## Codigo Postal

Descargamos desde https://github.com/inigoflores/ds-codigos-postales-ine-es la base de datos correspondientes a los
códigos postales de España. Aplicamos las modificaciones correspondientes a caracteres no reconocidos.

In [5]:
df = pd.read_csv('listado-de-codigos-postales-de-españa.csv', sep=';', encoding='latin-1')

In [6]:
df['poblacion'] = df['poblacion'].str.replace('?', 'ñ')
df.head(30)

c:\Users\Hp\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

      provincia              poblacion  codigopostalid
0   Araba/Álava       Alegría-Dulantzi             240
1         Ávila              Candeleda             548
2   Araba/Álava        Vitoria-Gasteiz            1001
3   Araba/Álava        Vitoria-Gasteiz            1002
4   Araba/Álava        Vitoria-Gasteiz            1003
5   Araba/Álava        Vitoria-Gasteiz            1004
6   Araba/Álava        Vitoria-Gasteiz            1005
7   Araba/Álava        Vitoria-Gasteiz            1006
8   Araba/Álava        Vitoria-Gasteiz            1007
9   Araba/Álava        Vitoria-Gasteiz            1008
10  Araba/Álava        Vitoria-Gasteiz            1009
11  Araba/Álava        Vitoria-Gasteiz            1010
12  Araba/Álava        Vitoria-Gasteiz            1012
13  Araba/Álava      Labastida/Bastida            1012
14  Araba/Álava        Vitoria-Gasteiz            1013
15  Araba/Álava        Vitoria-Gasteiz            1015
16  Araba/Álava        Campezo/Kanpezu            1110
17  Araba/Álava        Campezo/Kanpezu            1117
18  Araba/Álava  Harana/Valle de Arana            1117
19       Burgos     Condado de Treviño            1118
20  Araba/Álava                Bernedo            1118
21  Araba/Álava                 Lagrán            1118
22  Araba/Álava          Arraia-Maeztu            1120
23  Araba/Álava        Campezo/Kanpezu            1128
24  Araba/Álava          Arraia-Maeztu            1128
25  Araba/Álava                Bernedo            1128
26  Araba/Álava          Arraia-Maeztu            1129
27  Araba/Álava                   Zuia            1130
28  Araba/Álava               Zigoitia            1138
29  Araba/Álava                   Zuia            1139

In [7]:
cpostal = df['codigopostalid']
cpostal

0          240
1          548
2         1001
3         1002
4         1003
         ...
14660    52004
14661    52005
14662    52006
14663    73820
14664    90007
Name: codigopostalid, Length: 14665, dtype: int64

In [8]:
# Rellenamos con ceros a la izquierda los códigos postales con menos de 5 dígitos
ci = []
for i in cpostal:
    i=str(i)
    i = i.zfill(5)
    ci.append(i)

In [9]:
cp = pd.DataFrame(ci, columns=['cp'])
df['cp'] = cp
df.drop(columns='codigopostalid', inplace=True)
df.head(30)

      provincia              poblacion     cp
0   Araba/Álava       Alegría-Dulantzi  00240
1         Ávila              Candeleda  00548
2   Araba/Álava        Vitoria-Gasteiz  01001
3   Araba/Álava        Vitoria-Gasteiz  01002
4   Araba/Álava        Vitoria-Gasteiz  01003
5   Araba/Álava        Vitoria-Gasteiz  01004
6   Araba/Álava        Vitoria-Gasteiz  01005
7   Araba/Álava        Vitoria-Gasteiz  01006
8   Araba/Álava        Vitoria-Gasteiz  01007
9   Araba/Álava        Vitoria-Gasteiz  01008
10  Araba/Álava        Vitoria-Gasteiz  01009
11  Araba/Álava        Vitoria-Gasteiz  01010
12  Araba/Álava        Vitoria-Gasteiz  01012
13  Araba/Álava      Labastida/Bastida  01012
14  Araba/Álava        Vitoria-Gasteiz  01013
15  Araba/Álava        Vitoria-Gasteiz  01015
16  Araba/Álava        Campezo/Kanpezu  01110
17  Araba/Álava        Campezo/Kanpezu  01117
18  Araba/Álava  Harana/Valle de Arana  01117
19       Burgos     Condado de Treviño  01118
20  Araba/Álava                Bernedo  01118
21  Araba/Álava                 Lagrán  01118
22  Araba/Álava          Arraia-Maeztu  01120
23  Araba/Álava        Campezo/Kanpezu  01128
24  Araba/Álava          Arraia-Maeztu  01128
25  Araba/Álava                Bernedo  01128
26  Araba/Álava          Arraia-Maeztu  01129
27  Araba/Álava                   Zuia  01130
28  Araba/Álava               Zigoitia  01138
29  Araba/Álava                   Zuia  01139

In [10]:
cp = df.to_csv('codigo_postal.csv')

## Tipos de perfiles

Creamos la tabla de perfiles con los datos trasladados desde UX

In [4]:
perfiles = pd.DataFrame({"Perfil" : ["Miembros", "Voluntarios", "Ambos", "Admin"],
                "Descripcion": ["Elige esta opción si buscas a alguien que te acompañe para solucionar tus problemas.", "Elige esta opción si buscas aportar tu granito de arena a la comunidad de mayores.", "Elige esta opción si buscas las dos opciones anteriores.", "Perfil administrador"],
                "img": ["miembros.png", "voluntarios.png", "ambos.png", " "]})
perfiles.to_csv('tipos_perfil.csv')

## Tabla voluntarios (parte1)

In [11]:
voluntarios = {'Nombre':[], 'Apellidos':[]}
voluntarios

{'Nombre': [], 'Apellidos': []}

In [12]:
# Generamos nombre y apellidos ficticios con la librería faker

fake = Faker('es_ES')
fake.seed_instance(42)
for i in np.arange(0,500):
    name = fake.first_name()
    voluntarios['Nombre'].append(name)
    apellido = fake.unique.last_name()
    voluntarios['Apellidos'].append(apellido)

In [13]:
# Generamos aleatoriamente los números de teléfonos para completar este campo

tl = {'tl' : []}

for i in np.arange(0, 500):
    rand = random.randrange(600000000, 700000000)
    tl['tl'].append(rand)

tel = pd.DataFrame(tl)

In [14]:
# Elegimos un código postal aleatorio

cp = {'CP' : []}
for i in np.arange(0,500):
    rand = random.choice(df['cp'])
    cp['CP'].append(rand)

cp = pd.DataFrame(cp)

In [15]:
# Generamos contraseñas aleatorias para completar el campo pass

contr = {'pass': []}
for i in np.arange(0,500):
    rand = random.randrange(12345678, 87654321)
    contr['pass'].append(rand)

contr = pd.DataFrame(contr)

In [16]:
# Elegimos al azar los perfiles de Voluntario y Ambos

tipo_c = ['Voluntario', 'Ambos']
tipo = {'Tipo': []}
for i in np.arange(0,500):
    rand = random.choice(tipo_c)
    tipo['Tipo'].append(rand)

tipo = pd.DataFrame(tipo)

Creamos todas las combinaciones posibles de los servicios ofrecidos para introducirlas dentro de una lista.

In [17]:
servicios_c= [["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 	["Salud", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día", "Burocracia"], 	["Amigos y Ocio", "El día a día", "Burocracia", "Servicios del Municipio"], 	
["Nuevas Tecnologías", "Salud", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "El día a día"], 
["Nuevas Tecnologías", "El día a día", "Burocracia", "Servicios del Municipio"], 	
["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Servicios del Municipio"],
["Salud", "Amigos y Ocio", "El día a día", "Burocracia"], ["Salud", "El día a día", "Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "El día a día", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio", "Burocracia"],
["Salud", "Amigos y Ocio", "El día a día", "Servicios del Municipio"],
["Nuevas Tecnologías", "Amigos y Ocio", "El día a día", "Burocracia"],
["El día a día", "Burocracia", "Servicios del Municipio"], ["Nuevas Tecnologías", "Salud", "Amigos y Ocio"],
["Salud", "El día a día", "Servicios del Municipio"], 	["Nuevas Tecnologías", "Amigos y Ocio", "Burocracia"], 
["Nuevas Tecnologías", "Burocracia", "Servicios del Municipio"], 
["Nuevas Tecnologías", "Salud", "Servicios del Municipio"], 
["Salud", "Amigos y Ocio", "Servicios del Municipio"], ["Nuevas Tecnologías", "Amigos y Ocio", "El día a día"], 
["Nuevas Tecnologías", "Salud", "El día a día"], ["Amigos y Ocio", "Burocracia", "Servicios del Municipio"], 
["Amigos y Ocio", "El día a día", "Servicios del Municipio"], ["Amigos y Ocio", "El día a día", "Burocracia"], 
["Nuevas Tecnologías", "El día a día", "Servicios del Municipio"],
["Nuevas Tecnologías", "El día a día", "Burocracia"], ["Salud", "Burocracia", "Servicios del Municipio"], ["Nuevas Tecnologías", "Amigos y Ocio", "Servicios del Municipio"],
["Nuevas Tecnologías", "Salud"], ["Nuevas Tecnologías", "Amigos y Ocio"],
["Nuevas Tecnologías", "El día a día"], ["Nuevas Tecnologías", "Burocracia"], 
["Nuevas Tecnologías", "Servicios del Municipio"], ["Salud", "Amigos y Ocio"], 
["Salud", "El día a día"], 	["Salud", "Burocracia"], ["Salud", "Servicios del Municipio"],
["Amigos y Ocio", "El día a día"], 	["Amigos y Ocio", "Burocracia"], 
["Amigos y Ocio", "Servicios del Municipio"], ["El día a día", "Burocracia"], 
["El día a día", "Servicios del Municipio"], ["Burocracia", "Servicios del Municipio"],
["Nuevas Tecnologías"], ["Salud"], 	["Amigos y Ocio"],
   ["El día a día"], ["Burocracia"], ["Servicios del Municipio"]]


servicios = {'Servicios disponibles': []}
for i in np.arange(0,500):
    rand = random.choice(servicios_c)
    servicios['Servicios disponibles'].append(rand)

servicios = pd.DataFrame(servicios)

In [18]:
# Creamos aleatorio el status de los voluntarios (0 = no disponible, 1 =  disponible)
s = [0, 1]
status={'Status': []}
for i in np.arange(0,500):
    rand = random.choice(s)
    status['Status'].append(rand)

status = pd.DataFrame(status)

Imagenes descargadas de figma y renombradas para utilizar aleatoriamente en las tablas de voluntarios y miembros

In [19]:
imagenes = ["hombre1.png","hombre2.png","miembroh1.png","miembroh3.png","miembrom3.png","miembrom4.png",
"mujer1.png","mujer2.png","opinion1.png","opinion2m.png","opinion3m.png","opinion4.png","opinion5m.png",
"opinion6.png"]

In [20]:
# Introducimos aleatoriamente las fotografías para cada uno de los voluntarios

img_vol = ["hombre1.png","mujer1.png", "hombre2.png","mujer2.png"]
img_v={'Foto vol': []}
for i in np.arange(0,500):
    rand = random.choice(img_vol)
    img_v['Foto vol'].append(rand)

img_v = pd.DataFrame(img_v)

Se generar mini biografías para el perfil de los voluntarios

In [21]:
bio1 = "Soy una persona muy atenta. Me gusta aportar mi granito de arena siempre que puedo. Estaría encantada de poder acompañarte en lo que necesites."
bio2 = "Me encanta sertirme útil y por eso estaría encantada de poder ayudarte."
bio3 = "Me gusta trabajar con otras personas, codo con codo, sumando fuerzas, compartiendo experiencias y aprendiendo unas de otras, creciendo juntos."
bio4 = "Soy una persona a la que le fascina conocer personas diferentes y aprender de los demas para conseguir un objetivo común."
bio5 = "Me gusta pasar mi tiempo ayudando a los demás y hacer nuevos amigos."
bio6 = "Quiero devolver a la comunidad lo que me dieron sin pedir nada a cambio."

In [22]:
bios = [bio1, bio2, bio3, bio4, bio5, bio6]
bio = {'Bio': []}
for i in np.arange(0,500):
    rand = random.choice(bios)
    bio['Bio'].append(rand)

bio = pd.DataFrame(bio)

Para generar fechas aleatorias entre rangos utilizamos la función del siguiente recurso:

https://es.stackoverflow.com/questions/418863/como-generar-una-fecha-aleatoria-entre-dos-rangos-con-random-randit-en-python

In [23]:
from random import randint
from datetime import datetime


DATE_FORMAT = '%d/%m/%Y'


def get_random_date_between(date_a, date_b):    
    datetime_object_a = datetime.strptime(date_a, DATE_FORMAT)
    datetime_object_b = datetime.strptime(date_b, DATE_FORMAT)

    random_ordinal = randint(
        datetime_object_a.toordinal(),
        datetime_object_b.toordinal(),
    )

    random_date = datetime.fromordinal(random_ordinal)
    formatted_date_string = random_date.strftime(DATE_FORMAT)

    return formatted_date_string

get_random_date_between('17/5/2019', '30/6/2022')

'21/11/2021'

In [24]:
# Generamos fechas aleatorias de registro de voluntarios

f_insc = {'Fecha inscripcion': []}
for i in np.arange(0,500):
    rand = get_random_date_between('17/5/2019', '30/6/2022')
    f_insc['Fecha inscripcion'].append(rand)

inscripcion = pd.DataFrame(f_insc)

In [25]:
# unificamos en un único DataFrame todos los campos creados anteriormente

voluntarios = pd.DataFrame(voluntarios)
voluntarios['Movil'] = tel
voluntarios['Codigo Postal'] = cp
voluntarios['Pass'] = contr
voluntarios['Perfil'] = tipo
voluntarios['Servicios Disponibles'] = servicios
voluntarios['Status'] = status
voluntarios['FotoV'] = img_v
voluntarios['Bio'] = bio
voluntarios['Fecha inscripcion'] = inscripcion
voluntarios.head(5)

,Nombre,Apellidos,Movil,Codigo Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripcion
0,Feliciana,Cantón,620034908,39682,82499295,Ambos,[Nuevas Tecnologías],1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",16/02/2021
1,Amador,Llopis,665288077,27277,62909541,Ambos,"[Salud, El día a día]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,15/03/2022
2,Jose Ignacio,Godoy,675211243,50366,72406087,Voluntario,"[Nuevas Tecnologías, Amigos y Ocio]",0,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,23/02/2020
3,Emilio,Calatayud,688454142,19432,55533241,Voluntario,"[Salud, El día a día]",1,hombre2.png,Me encanta sertirme útil y por eso estaría enc...,20/01/2020
4,Inmaculada,Bonet,668697667,41950,32120399,Voluntario,"[Nuevas Tecnologías, Salud, Servicios del Muni...",1,mujer1.png,Me gusta pasar mi tiempo ayudando a los demás ...,01/02/2022

In [26]:
# Unimos los campos Nombre y Apellidos

voluntarios.insert(2, 'Nombre y Apellidos', voluntarios[['Nombre', 'Apellidos']].apply(' '.join, axis=1))

## Miembros

Creamos la base de datos con los campos de los miembros.
Añadimos las imágenes distintas de voluntarios para esta tabla.

In [27]:
miembros = {'Nombre':[], 'Apellidos':[], 'Movil': [], 'CP': [], 'pass': [], 'Foto miembro' : [], 'Fecha inscripcion' : []}

In [28]:
img_m = ["miembroh1.png","miembroh3.png","miembrom3.png","miembrom4.png", "opinion1.png","opinion2m.png",
"opinion3m.png","opinion4.png","opinion5m.png","opinion6.png"]

In [29]:
# Generamos aleatoriamente los campos de nombre, apellidos, móvil, código postal, pass, imagen y fecha de inscripción

fake = Faker('es_ES')
fake.seed_instance(100)
for i in np.arange(0,1000):
    name = fake.first_name()
    miembros['Nombre'].append(name)
    apellido = fake.unique.last_name()
    miembros['Apellidos'].append(apellido)
    rand = random.randrange(600000000, 700000000)
    miembros['Movil'].append(rand)
    postal = random.choice(df['cp'])
    miembros['CP'].append(postal)
    cont = random.randrange(12345678, 87654321)
    miembros['pass'].append(cont)
    img = random.choice(img_m)
    miembros['Foto miembro'].append(img)
    fecha = get_random_date_between('17/5/2019', '30/6/2022')
    miembros['Fecha inscripcion'].append(fecha)

miembros = pd.DataFrame(miembros)
miembros.head(30)

,Nombre,Apellidos,Movil,CP,pass,Foto miembro,Fecha inscripcion
0,Esteban,Segura,676741618,27247,82359331,opinion4.png,24/12/2021
1,Wálter,Díaz,610642355,08293,21524550,miembrom4.png,30/06/2021
2,Julieta,Pozo,681757413,10866,58232070,opinion4.png,11/06/2022
3,Lupita,Olmo,632364118,30878,31727747,opinion4.png,07/12/2019
4,Toribio,Vendrell,614984177,36378,62095009,opinion3m.png,28/11/2019
5,Nereida,Canet,614037781,43700,26513656,opinion1.png,07/05/2021
6,Berta,Carrión,668933534,41728,84113067,miembrom3.png,19/10/2019
7,Cecilio,Sarmiento,694327771,50660,32322750,miembroh1.png,13/05/2021
8,Juan José,Asensio,616038085,49881,28959071,miembroh1.png,26/06/2020
9,Genoveva,Fuente,677012813,24640,24084393,miembrom4.png,18/03/2020
10,Nico,Gras,699975455,06390,80191147,miembroh1.png,28/05/2021
11,Martin,Frías,649528513,24156,17656307,opinion4.png,22/01/2022
12,Gaspar,Chico,696198414,35540,66696661,opinion4.png,31/10/2021
13,Gonzalo,Oliver,686995419,20749,78902043,miembroh3.png,08/02/2022
14,Rafael,Redondo,618633372,16290,76607867,opinion5m.png,07/10/2021
15,Perlita,Galvez,609165702,22110,78649948,opinion4.png,04/06/2021
16,Samuel,Serra,625778344,01118,70174531,opinion2m.png,15/11/2021
17,Catalina,Llorens,654624555,17700,80788088,opinion4.png,09/05/2020
18,Valentina,Perez,603176245,08011,74148686,miembrom3.png,19/11/2020
19,Felipe,Casanova,650024054,36589,38743744,miembrom4.png,21/03/2022
20,Geraldo,Adán,671099854,17111,35873672,miembrom3.png,21/11/2020
21,Elisa,Priego,645047760,37185,25226985,miembroh1.png,27/03/2021
22,Eusebio,Cámara,637558381,09613,25415743,opinion4.png,18/05/2022
23,Guadalupe,Diego,697257044,08461,30322152,opinion4.png,22/06/2020
24,Prudencia,Amo,685405015,37864,13032458,opinion4.png,16/04/2022
25,Xiomara,Gálvez,639027226,14130,87401143,miembroh1.png,24/01/2020
26,Victorino,Ponce,651676146,03710,22943830,opinion6.png,17/01/2021
27,Edmundo,Badía,658432387,18313,65957694,opinion5m.png,29/10/2020
28,Emelina,Huertas,686416398,22820,26035485,opinion3m.png,17/12/2021
29,Liliana,Manjón,688806514,47131,22374285,opinion2m.png,11/03/2020

In [30]:
# Unificamos la columna Nombre y Apellidos

miembros.insert(2, 'Nombre y Apellidos', miembros[['Nombre', 'Apellidos']].apply(' '.join, axis=1))

In [31]:
# Filtramos los usuarios con perfil "Ambos" de la tabla de voluntarios para poder añadirlos a la tabla de Miembros

masm = voluntarios[voluntarios['Perfil'] == 'Ambos']
masm

,Nombre,Apellidos,Nombre y Apellidos,Movil,Codigo Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripcion
0,Feliciana,Cantón,Feliciana Cantón,620034908,39682,82499295,Ambos,[Nuevas Tecnologías],1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",16/02/2021
1,Amador,Llopis,Amador Llopis,665288077,27277,62909541,Ambos,"[Salud, El día a día]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,15/03/2022
5,Dominga,Roca,Dominga Roca,686133039,43530,37204203,Ambos,"[Nuevas Tecnologías, Salud, Servicios del Muni...",1,hombre2.png,Me gusta pasar mi tiempo ayudando a los demás ...,04/09/2020
8,Joan,Vazquez,Joan Vazquez,648703191,27256,35855870,Ambos,"[Nuevas Tecnologías, Salud, Amigos y Ocio, El ...",1,hombre2.png,Soy una persona a la que le fascina conocer pe...,02/01/2022
9,Eligia,Amor,Eligia Amor,683377432,16432,84214312,Ambos,"[Amigos y Ocio, Servicios del Municipio]",0,mujer2.png,Soy una persona muy atenta. Me gusta aportar m...,18/04/2020
...,...,...,...,...,...,...,...,...,...,...,...,...
491,Ángel,Jara,Ángel Jara,638251729,27468,30010079,Ambos,"[Salud, Amigos y Ocio, El día a día, Burocraci...",1,mujer1.png,Quiero devolver a la comunidad lo que me diero...,13/12/2021
493,Valentina,Benavent,Valentina Benavent,657923341,16195,45721137,Ambos,"[Nuevas Tecnologías, El día a día, Servicios d...",0,hombre2.png,"Me gusta trabajar con otras personas, codo con...",10/06/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,688310774,37340,31676343,Ambos,"[Nuevas Tecnologías, Amigos y Ocio, El día a d...",1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",13/03/2022
497,Jenny,Matas,Jenny Matas,677536704,45191,57135343,Ambos,"[Nuevas Tecnologías, Amigos y Ocio, Burocracia]",1,mujer2.png,Soy una persona a la que le fascina conocer pe...,16/12/2021
498,Heliodoro,Planas,Heliodoro Planas,647337557,19244,82067379,Ambos,"[Nuevas Tecnologías, Salud, El día a día]",0,hombre2.png,Quiero devolver a la comunidad lo que me diero...,21/02/2021

In [32]:
# Del filtro realizado, eliminamos las columnas que no corresponden a la categoría "Miembro"
miembro = masm.drop(columns=['Perfil', 'Servicios Disponibles', 'Status', 'Bio'])
miembro

,Nombre,Apellidos,Nombre y Apellidos,Movil,Codigo Postal,Pass,FotoV,Fecha inscripcion
0,Feliciana,Cantón,Feliciana Cantón,620034908,39682,82499295,mujer1.png,16/02/2021
1,Amador,Llopis,Amador Llopis,665288077,27277,62909541,hombre1.png,15/03/2022
5,Dominga,Roca,Dominga Roca,686133039,43530,37204203,hombre2.png,04/09/2020
8,Joan,Vazquez,Joan Vazquez,648703191,27256,35855870,hombre2.png,02/01/2022
9,Eligia,Amor,Eligia Amor,683377432,16432,84214312,mujer2.png,18/04/2020
...,...,...,...,...,...,...,...,...
491,Ángel,Jara,Ángel Jara,638251729,27468,30010079,mujer1.png,13/12/2021
493,Valentina,Benavent,Valentina Benavent,657923341,16195,45721137,hombre2.png,10/06/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,688310774,37340,31676343,mujer1.png,13/03/2022
497,Jenny,Matas,Jenny Matas,677536704,45191,57135343,mujer2.png,16/12/2021
498,Heliodoro,Planas,Heliodoro Planas,647337557,19244,82067379,hombre2.png,21/02/2021

In [33]:
# Renombramos las columnas para que correspondan a las mismas que la tabla Miembros

miembro.columns= ['Nombre', 'Apellidos', 'Nombre y Apellidos', 'Movil', 'CP', 'pass',
       'Foto miembro', 'Fecha inscripcion']
miembro

,Nombre,Apellidos,Nombre y Apellidos,Movil,CP,pass,Foto miembro,Fecha inscripcion
0,Feliciana,Cantón,Feliciana Cantón,620034908,39682,82499295,mujer1.png,16/02/2021
1,Amador,Llopis,Amador Llopis,665288077,27277,62909541,hombre1.png,15/03/2022
5,Dominga,Roca,Dominga Roca,686133039,43530,37204203,hombre2.png,04/09/2020
8,Joan,Vazquez,Joan Vazquez,648703191,27256,35855870,hombre2.png,02/01/2022
9,Eligia,Amor,Eligia Amor,683377432,16432,84214312,mujer2.png,18/04/2020
...,...,...,...,...,...,...,...,...
491,Ángel,Jara,Ángel Jara,638251729,27468,30010079,mujer1.png,13/12/2021
493,Valentina,Benavent,Valentina Benavent,657923341,16195,45721137,hombre2.png,10/06/2021
496,Feliciana,Rodrigo,Feliciana Rodrigo,688310774,37340,31676343,mujer1.png,13/03/2022
497,Jenny,Matas,Jenny Matas,677536704,45191,57135343,mujer2.png,16/12/2021
498,Heliodoro,Planas,Heliodoro Planas,647337557,19244,82067379,hombre2.png,21/02/2021

In [34]:
# Apilamos la nueva tabla filtrada desde voluntarios a la ya existente de Miembros

miembrosf = pd.concat([miembros, miembro], axis=0)
miembrosf.reset_index(inplace=True)
miembrosf.drop(columns=['index'],inplace=True)
miembrosf

,Nombre,Apellidos,Nombre y Apellidos,Movil,CP,pass,Foto miembro,Fecha inscripcion
0,Esteban,Segura,Esteban Segura,676741618,27247,82359331,opinion4.png,24/12/2021
1,Wálter,Díaz,Wálter Díaz,610642355,08293,21524550,miembrom4.png,30/06/2021
2,Julieta,Pozo,Julieta Pozo,681757413,10866,58232070,opinion4.png,11/06/2022
3,Lupita,Olmo,Lupita Olmo,632364118,30878,31727747,opinion4.png,07/12/2019
4,Toribio,Vendrell,Toribio Vendrell,614984177,36378,62095009,opinion3m.png,28/11/2019
...,...,...,...,...,...,...,...,...
1255,Ángel,Jara,Ángel Jara,638251729,27468,30010079,mujer1.png,13/12/2021
1256,Valentina,Benavent,Valentina Benavent,657923341,16195,45721137,hombre2.png,10/06/2021
1257,Feliciana,Rodrigo,Feliciana Rodrigo,688310774,37340,31676343,mujer1.png,13/03/2022
1258,Jenny,Matas,Jenny Matas,677536704,45191,57135343,mujer2.png,16/12/2021
1259,Heliodoro,Planas,Heliodoro Planas,647337557,19244,82067379,hombre2.png,21/02/2021

In [35]:
miembrosf.to_csv('miembros.csv')

## Opiniones

Para realizar la tabla de opiniones se necesita a los voluntarios con sus áreas, además de los miembros que han realizado dicha reseña, puntuación y la reseña.

In [36]:
# Nos quedamos con los voluntarios y sus áreas de actuación

opiniones = voluntarios.iloc[:,2:8:5]
opiniones

     Nombre y Apellidos                              Servicios Disponibles
0      Feliciana Cantón                               [Nuevas Tecnologías]
1         Amador Llopis                              [Salud, El día a día]
2    Jose Ignacio Godoy                [Nuevas Tecnologías, Amigos y Ocio]
3      Emilio Calatayud                              [Salud, El día a día]
4      Inmaculada Bonet  [Nuevas Tecnologías, Salud, Servicios del Muni...
..                  ...                                                ...
495      Diana Martínez          [Nuevas Tecnologías, Salud, El día a día]
496   Feliciana Rodrigo  [Nuevas Tecnologías, Amigos y Ocio, El día a d...
497         Jenny Matas    [Nuevas Tecnologías, Amigos y Ocio, Burocracia]
498    Heliodoro Planas          [Nuevas Tecnologías, Salud, El día a día]
499         Reyna Tomas              [Burocracia, Servicios del Municipio]

[500 rows x 2 columns]

In [37]:
# Para generar más opiniones, cogemos un rango intermedio de la tabla anterior para apilarla.

res2 = opiniones.iloc[125:340, :2]
res2.reset_index(inplace=True)
res2.drop(columns=['index'],inplace=True)
res2

    Nombre y Apellidos                              Servicios Disponibles
0     Jose Ramón Feliu                   [Salud, Servicios del Municipio]
1        Goyo Sanabria                        [Amigos y Ocio, Burocracia]
2      Enrique Español  [Nuevas Tecnologías, Salud, El día a día, Buro...
3       León Sevillano     [Nuevas Tecnologías, El día a día, Burocracia]
4          Josep Benet              [Burocracia, Servicios del Municipio]
..                 ...                                                ...
210      Gabriel Vélez     [Nuevas Tecnologías, El día a día, Burocracia]
211       Florina León                                            [Salud]
212  Encarnación Tomás  [Nuevas Tecnologías, Salud, Amigos y Ocio, Bur...
213        Adela Ruano  [Nuevas Tecnologías, Salud, El día a día, Buro...
214      Paola Ledesma  [Nuevas Tecnologías, Amigos y Ocio, El día a d...

[215 rows x 2 columns]

In [38]:
# Unificamos las dos tablas

resenas = pd.concat([opiniones, res2], axis=0)
resenas.reset_index(inplace=True)
resenas.drop(columns=['index'],inplace=True)
resenas

     Nombre y Apellidos                              Servicios Disponibles
0      Feliciana Cantón                               [Nuevas Tecnologías]
1         Amador Llopis                              [Salud, El día a día]
2    Jose Ignacio Godoy                [Nuevas Tecnologías, Amigos y Ocio]
3      Emilio Calatayud                              [Salud, El día a día]
4      Inmaculada Bonet  [Nuevas Tecnologías, Salud, Servicios del Muni...
..                  ...                                                ...
710       Gabriel Vélez     [Nuevas Tecnologías, El día a día, Burocracia]
711        Florina León                                            [Salud]
712   Encarnación Tomás  [Nuevas Tecnologías, Salud, Amigos y Ocio, Bur...
713         Adela Ruano  [Nuevas Tecnologías, Salud, El día a día, Buro...
714       Paola Ledesma  [Nuevas Tecnologías, Amigos y Ocio, El día a d...

[715 rows x 2 columns]

In [39]:
# Aleatoriamente asignamos una calificación a cada uno de los registros creados

estrellas = [1,2,3,4,5]
resena = {'Estrellas':[]}

for i in np.arange(0,715):
    clas = random.choice(estrellas)
    resena['Estrellas'].append(clas)

resena = pd.DataFrame(resena)
resenas['Estrellas'] = resena
resenas.head()

,Nombre y Apellidos,Servicios Disponibles,Estrellas
0,Feliciana Cantón,[Nuevas Tecnologías],5
1,Amador Llopis,"[Salud, El día a día]",3
2,Jose Ignacio Godoy,"[Nuevas Tecnologías, Amigos y Ocio]",1
3,Emilio Calatayud,"[Salud, El día a día]",4
4,Inmaculada Bonet,"[Nuevas Tecnologías, Salud, Servicios del Muni...",5

Creamos distintos textos de opiniones para asignar en función de la puntuación registrada

In [40]:
op1 = ["Al final tuvo que irse antes", "El día podría haber estado mejor", "Llegó tarde", "No es muy habladora",
"No habla mucho", "No me arregló los papeles", "No me ayudó nada", "No me entendía", "No me pudo acompañar donde yo quería",
"No pudo ayudarme", "No sabía lo que le pedía", "Tuvo muy poca paciencia"]
op2 = ["Bueno, podría mejorar", "El servicio no estuvo mal", "Es amable aunque no divertida",
"Está normal", "Ha llegado tarde", "No ha ido mal", "No ha podido ayudarme en lo que necesitaba", 
"No sabía lo que le pedía", "No terminó de ayudarme", "Puede mejorar"]
op3 = ["Bien", "Es muy amable", "Estoy contenta", "Gracias", "Gran dia", "Ha estado bien", "Ha estado muy bien",
"Ha podido ayudarme en algunas cosas", "Me acompañó en lo que necesitaba", "Me ayudó en lo que necesitaba",
"Me ayudó mucho en casa", "Me ha ayudado en lo que le he pedido", "Me ha ayudado mucho", "Me ha resuelto muchas dudas",
"Me lo he pasado bien", "No hemos terminado de congeniar pero ha estado bien", "Un día agradable"]
op4 = ["Es un encanto y me ayudó a hablar con mis nietos", "Es un sol, me ayudó a desbloquear el móvil y lo arregló",
"Fue un día estupendo", "No hubiera podido está más feliz", "No puedo estar más agradecida"]
op5 = ["Encantado con toda la ayuda que he recibido", "Es un encanto y me ayudó a hablar con mis nietos",
"Es un sol, me ayudó a desbloquear el móvil y lo arregló", "Fue un día estupendo", "Gracias, ha sido toda una experiencia",
"Me ayudó mucho en casa", "No hubiera podido estar más feliz", "No puedo estar más agradecida",
"Qué bien que pudo ayudarme con mis papeles", "Sin duda seguiré utilizando este servicio"]

In [41]:
# En función de la puntuación asignada se elige un comentario aleatorio de los posibles.

op = {'Opinión' : []}
for i in np.arange(0, 715):
    if resenas['Estrellas'][i] == 1:
        op_1 = random.choice(op1)
        op['Opinión'].append(op_1)
    elif resenas['Estrellas'][i] == 2:
        op_2 = random.choice(op2)
        op['Opinión'].append(op_2)
    elif resenas['Estrellas'][i] == 3:
        op_3 = random.choice(op3)
        op['Opinión'].append(op_3)
    elif resenas['Estrellas'][i] == 4:
        op_4 = random.choice(op4)
        op['Opinión'].append(op_4)
    elif resenas['Estrellas'][i] == 5:
        op_5 = random.choice(op5)
        op['Opinión'].append(op_5)

opi = pd.DataFrame(op)
resenas['Opinion'] = opi
resenas.head()

,Nombre y Apellidos,Servicios Disponibles,Estrellas,Opinion
0,Feliciana Cantón,[Nuevas Tecnologías],5,Me ayudó mucho en casa
1,Amador Llopis,"[Salud, El día a día]",3,Me ayudó en lo que necesitaba
2,Jose Ignacio Godoy,"[Nuevas Tecnologías, Amigos y Ocio]",1,No me arregló los papeles
3,Emilio Calatayud,"[Salud, El día a día]",4,No puedo estar más agradecida
4,Inmaculada Bonet,"[Nuevas Tecnologías, Salud, Servicios del Muni...",5,No puedo estar más agradecida

In [42]:
# De la tabla de miembros final elegimos un rango intermedio que añadiremos al Dataframe de reseñas

miemb = miembrosf.iloc[303:1018,2::4]
miemb.reset_index(inplace=True)
miemb.drop(columns=['index'], inplace=True)
miemb

    Nombre y Apellidos   Foto miembro
0           Morena Pol   opinion6.png
1          Chelo Rojas  miembroh1.png
2           Alma Luque  miembrom3.png
3      Ascensión Anaya  miembrom3.png
4        Leire Quiroga   opinion1.png
..                 ...            ...
710       Artemio Goñi    hombre1.png
711     Roxana Cabrero    hombre2.png
712     Fabiola Patiño     mujer2.png
713    Fermín Pellicer     mujer1.png
714      Herminia Lasa    hombre1.png

[715 rows x 2 columns]

In [43]:
opinions = pd.concat([resenas, miemb], axis=1, ignore_index=True)
opinions.columns = ['Nombre voluntario', 'Servicios Disponibles', 'Estrellas', 'Opinion', 'Nombre miembro', 'Foto miembro']
opinions

,Nombre voluntario,Servicios Disponibles,Estrellas,Opinion,Nombre miembro,Foto miembro
0,Feliciana Cantón,[Nuevas Tecnologías],5,Me ayudó mucho en casa,Morena Pol,opinion6.png
1,Amador Llopis,"[Salud, El día a día]",3,Me ayudó en lo que necesitaba,Chelo Rojas,miembroh1.png
2,Jose Ignacio Godoy,"[Nuevas Tecnologías, Amigos y Ocio]",1,No me arregló los papeles,Alma Luque,miembrom3.png
3,Emilio Calatayud,"[Salud, El día a día]",4,No puedo estar más agradecida,Ascensión Anaya,miembrom3.png
4,Inmaculada Bonet,"[Nuevas Tecnologías, Salud, Servicios del Muni...",5,No puedo estar más agradecida,Leire Quiroga,opinion1.png
...,...,...,...,...,...,...
710,Gabriel Vélez,"[Nuevas Tecnologías, El día a día, Burocracia]",3,Un día agradable,Artemio Goñi,hombre1.png
711,Florina León,[Salud],4,No puedo estar más agradecida,Roxana Cabrero,hombre2.png
712,Encarnación Tomás,"[Nuevas Tecnologías, Salud, Amigos y Ocio, Bur...",3,Gran dia,Fabiola Patiño,mujer2.png
713,Adela Ruano,"[Nuevas Tecnologías, Salud, El día a día, Buro...",3,Estoy contenta,Fermín Pellicer,mujer1.png
714,Paola Ledesma,"[Nuevas Tecnologías, Amigos y Ocio, El día a d...",3,Un día agradable,Herminia Lasa,hombre1.png

In [44]:
opinions.to_csv('opiniones.csv')

## Voluntarios (parte2)

En la tabla de voluntarios añadiremos una columna con la media de las puntuaciones indicadas en la tabla de opiniones
y otra columna con el número de opiniones de cada uno de los voluntarios

In [45]:
star = pd.Series(opinions.groupby(['Nombre voluntario']).Estrellas.mean().round(1), name='Estrellas')
count = pd.Series(opinions.groupby(['Nombre voluntario']).Opinion.count(), name='N_opinion')
df3 = pd.DataFrame([star, count])

In [46]:
df3 = df3.T
df3.reset_index(inplace=True)

df3

    Nombre voluntario  Estrellas  N_opinion
0        Abril Ibañez        2.5        2.0
1          Adela Jaén        2.0        2.0
2         Adela Ruano        4.0        2.0
3     Adela Salamanca        2.5        2.0
4        Adelina Vall        5.0        1.0
..                ...        ...        ...
495      Ángeles Sanz        2.5        2.0
496     Áurea Maestre        4.0        1.0
497      Íñigo Carpio        3.0        1.0
498   Úrsula Belmonte        4.0        2.0
499      Úrsula Perez        3.0        2.0

[500 rows x 3 columns]

In [47]:
df3['N_opinion'] = df3['N_opinion'].astype('int64', errors='ignore')

In [48]:
# Unimos la tabla generada con la media de las puntuaciones y el número de opiniones a la tabla de voluntarios

voluntariosf= pd.merge(left= voluntarios, right= df3, how = 'outer', left_on=voluntarios['Nombre y Apellidos'], 
                        right_on=df3['Nombre voluntario'])

voluntariosf

,key_0,Nombre,Apellidos,Nombre y Apellidos,Movil,Codigo Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripcion,Nombre voluntario,Estrellas,N_opinion
0,Feliciana Cantón,Feliciana,Cantón,Feliciana Cantón,620034908,39682,82499295,Ambos,[Nuevas Tecnologías],1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",16/02/2021,Feliciana Cantón,5.0,1
1,Amador Llopis,Amador,Llopis,Amador Llopis,665288077,27277,62909541,Ambos,"[Salud, El día a día]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,15/03/2022,Amador Llopis,3.0,1
2,Jose Ignacio Godoy,Jose Ignacio,Godoy,Jose Ignacio Godoy,675211243,50366,72406087,Voluntario,"[Nuevas Tecnologías, Amigos y Ocio]",0,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,23/02/2020,Jose Ignacio Godoy,1.0,1
3,Emilio Calatayud,Emilio,Calatayud,Emilio Calatayud,688454142,19432,55533241,Voluntario,"[Salud, El día a día]",1,hombre2.png,Me encanta sertirme útil y por eso estaría enc...,20/01/2020,Emilio Calatayud,4.0,1
4,Inmaculada Bonet,Inmaculada,Bonet,Inmaculada Bonet,668697667,41950,32120399,Voluntario,"[Nuevas Tecnologías, Salud, Servicios del Muni...",1,mujer1.png,Me gusta pasar mi tiempo ayudando a los demás ...,01/02/2022,Inmaculada Bonet,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Diana Martínez,Diana,Martínez,Diana Martínez,678607314,47200,60206242,Voluntario,"[Nuevas Tecnologías, Salud, El día a día]",0,hombre2.png,Quiero devolver a la comunidad lo que me diero...,17/02/2022,Diana Martínez,2.0,1
496,Feliciana Rodrigo,Feliciana,Rodrigo,Feliciana Rodrigo,688310774,37340,31676343,Ambos,"[Nuevas Tecnologías, Amigos y Ocio, El día a d...",1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",13/03/2022,Feliciana Rodrigo,4.0,1
497,Jenny Matas,Jenny,Matas,Jenny Matas,677536704,45191,57135343,Ambos,"[Nuevas Tecnologías, Amigos y Ocio, Burocracia]",1,mujer2.png,Soy una persona a la que le fascina conocer pe...,16/12/2021,Jenny Matas,3.0,1
498,Heliodoro Planas,Heliodoro,Planas,Heliodoro Planas,647337557,19244,82067379,Ambos,"[Nuevas Tecnologías, Salud, El día a día]",0,hombre2.png,Quiero devolver a la comunidad lo que me diero...,21/02/2021,Heliodoro Planas,1.0,1
499,Reyna Tomas,Reyna,Tomas,Reyna Tomas,657750872,06718,57067694,Voluntario,"[Burocracia, Servicios del Municipio]",0,hombre2.png,Soy una persona muy atenta. Me gusta aportar m...,28/08/2020,Reyna Tomas,2.0,1

In [49]:
# Eliminamos las columnas que se han creado automáticamente con la unión de los dataframes

voluntariosf.drop(columns=["key_0", "Nombre voluntario"], inplace=True)
voluntariosf.head()

,Nombre,Apellidos,Nombre y Apellidos,Movil,Codigo Postal,Pass,Perfil,Servicios Disponibles,Status,FotoV,Bio,Fecha inscripcion,Estrellas,N_opinion
0,Feliciana,Cantón,Feliciana Cantón,620034908,39682,82499295,Ambos,[Nuevas Tecnologías],1,mujer1.png,"Me gusta trabajar con otras personas, codo con...",16/02/2021,5.0,1
1,Amador,Llopis,Amador Llopis,665288077,27277,62909541,Ambos,"[Salud, El día a día]",0,hombre1.png,Quiero devolver a la comunidad lo que me diero...,15/03/2022,3.0,1
2,Jose Ignacio,Godoy,Jose Ignacio Godoy,675211243,50366,72406087,Voluntario,"[Nuevas Tecnologías, Amigos y Ocio]",0,mujer2.png,Me gusta pasar mi tiempo ayudando a los demás ...,23/02/2020,1.0,1
3,Emilio,Calatayud,Emilio Calatayud,688454142,19432,55533241,Voluntario,"[Salud, El día a día]",1,hombre2.png,Me encanta sertirme útil y por eso estaría enc...,20/01/2020,4.0,1
4,Inmaculada,Bonet,Inmaculada Bonet,668697667,41950,32120399,Voluntario,"[Nuevas Tecnologías, Salud, Servicios del Muni...",1,mujer1.png,Me gusta pasar mi tiempo ayudando a los demás ...,01/02/2022,5.0,1

In [50]:
voluntariosf.to_csv('voluntarios.csv')

## Peticiones

La tabla de peticiones va a contener el asunto de las solicitudes generadas por los usuarios y el texto completo.
Además, se va a incluir el número de kms y una fecha de creación de solicitud aleatoriamente.

Creamos los asuntos y textos a partir de lo trasladado por el área de UX.

In [51]:
p1 = 'Me gustaría saber mandar un correo'
p2 = 'Llamar a mis nietos por el ordenador'
p3 = 'Quiero poner música en mi móvil'
p4 = 'Que no se pone el banco en el teléfono'
p5 = 'Quiero poner dibujos en el chat como mi vecina'
p6 = 'No sé qué móvil comprarme'



t1 = 'El otro día recibí un mensaje y no sé cómo responderlo por ordenador'
t2 = 'Quiero ver a mis nietos por el ordenador'
t3 = 'Me gusta un grupo de música nuevo y quiero tenerlo en el móvil'
t4 = 'Quiero consultar mi cuenta del banco por el móvil'
t5 = 'He visto que mi vecina está poniendo muñecos en el chat y también quiero'
t6 = 'Se me ha roto el móvil y quiero saber cuál comprarme'

peticiones= {p1:t1, p2:t2, p3:t3, p4:t4, p5:t5, p6:t6}

In [52]:
# Para crear esta tabla utilizamos un rago intermedio de la tabla de miembros.

peticionarios = miembros.iloc[171:211, 2:7:4]
peticionarios.reset_index(inplace=True)
peticionarios.drop(columns=['index'], inplace=True)
peticionarios

       Nombre y Apellidos   Foto miembro
0           Adrián Blanco  opinion5m.png
1       Anastasia Barrera  miembroh1.png
2         Teodoro Pizarro  opinion3m.png
3         Fabián Ferreras  miembroh1.png
4       Tristán Escribano  opinion2m.png
5      Hernando Larrañaga   opinion6.png
6      José Luis Gelabert   opinion6.png
7             Lázaro Páez  miembrom3.png
8             Valeria Pou  miembrom4.png
9    Juan Bautista Múgica  miembrom3.png
10           Amaro Larrea  opinion2m.png
11  Jose Angel Echeverría  opinion2m.png
12       Baldomero Ricart   opinion6.png
13         Ciro Carretero  miembroh3.png
14     Fortunato Pellicer  opinion2m.png
15          Iker Villegas  opinion3m.png
16      Jorge Quintanilla  opinion2m.png
17          Alfredo Soler   opinion6.png
18             Pili Navas  miembroh3.png
19           Aníbal Landa   opinion6.png
20       Andrea Benavente  miembrom3.png
21          Pelayo Arnaiz  miembroh3.png
22         Gabriela Jordá  opinion5m.png
23             Maura Seco  opinion2m.png
24             Coral Malo   opinion1.png
25           Bibiana Puga   opinion1.png
26       Prudencio Morata  miembrom4.png
27           Fausto Cases  opinion3m.png
28           Malena Nieto   opinion6.png
29             Ana Pulido  miembroh3.png
30         Esmeralda Real   opinion4.png
31     Jose Manuel Valera   opinion1.png
32     Marcela Cabanillas   opinion6.png
33        Bernarda Galván  miembroh3.png
34        Gabriel Benítez  miembroh3.png
35     Jose Luis Berrocal  miembrom4.png
36           Alejo Losada  miembroh3.png
37         Perlita Tolosa  opinion5m.png
38        Isidoro Naranjo   opinion4.png
39          Santos Arroyo  miembrom4.png

In [53]:
# Generamos aleatoriamente el asunto y el texto del mismo.

asunto = {'Asunto': [], 'Texto': []}

for i in np.arange(0,40):
    pt = random.choice(list(peticiones.items()))
    asunto['Asunto'].append(pt[0])
    asunto['Texto'].append(pt[1])

asunto = pd.DataFrame(asunto)

asunto.head()

,Asunto,Texto
0,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
1,Llamar a mis nietos por el ordenador,Quiero ver a mis nietos por el ordenador
2,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...
3,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
4,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...

In [54]:
# Unimos esta nueva tabla a la principal

solicitudes = pd.concat([peticionarios, asunto], axis=1)
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto
0,Adrián Blanco,opinion5m.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
1,Anastasia Barrera,miembroh1.png,Llamar a mis nietos por el ordenador,Quiero ver a mis nietos por el ordenador
2,Teodoro Pizarro,opinion3m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...
3,Fabián Ferreras,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...
4,Tristán Escribano,opinion2m.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...

In [55]:
# Generamos el rango de fechas aleatorio

creacion = {'Fecha creacion': []}

for i in np.arange(0,40):
    fech = get_random_date_between('17/6/2022', '30/7/2022')
    creacion['Fecha creacion'].append(fech)

creacion = pd.DataFrame(creacion)
solicitudes['Fecha creacion'] = creacion
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto,Fecha creacion
0,Adrián Blanco,opinion5m.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,04/07/2022
1,Anastasia Barrera,miembroh1.png,Llamar a mis nietos por el ordenador,Quiero ver a mis nietos por el ordenador,23/06/2022
2,Teodoro Pizarro,opinion3m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...,28/07/2022
3,Fabián Ferreras,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,08/07/2022
4,Tristán Escribano,opinion2m.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...,30/06/2022

In [56]:
# Elegimos el rango de kms de forma aleatoria

kms = {'Kms': []}

for i in np.arange(0,40):
    km = random.randrange(5, 40)
    kms['Kms'].append(str(km)+'km')

kms = pd.DataFrame(kms)
solicitudes['Kms'] = kms
solicitudes.head()

,Nombre y Apellidos,Foto miembro,Asunto,Texto,Fecha creacion,Kms
0,Adrián Blanco,opinion5m.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,04/07/2022,33km
1,Anastasia Barrera,miembroh1.png,Llamar a mis nietos por el ordenador,Quiero ver a mis nietos por el ordenador,23/06/2022,28km
2,Teodoro Pizarro,opinion3m.png,No sé qué móvil comprarme,Se me ha roto el móvil y quiero saber cuál com...,28/07/2022,16km
3,Fabián Ferreras,miembroh1.png,Quiero poner música en mi móvil,Me gusta un grupo de música nuevo y quiero ten...,08/07/2022,38km
4,Tristán Escribano,opinion2m.png,Quiero poner dibujos en el chat como mi vecina,He visto que mi vecina está poniendo muñecos e...,30/06/2022,20km

In [57]:
solicitudes.to_csv('solicitudes.csv')